version: "3.9"

services:
  node:
    build: ./server
    env_file:
      - ./server/.env
    networks:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - node
    networks:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  backend:
    driver: bridge

