version: "3.9"

services:
  node:
    image: vawing21/node:latest
    env_file:
      - ./server/.env
    restart: always
    networks:
      - backend

  nginx:
    image: vawing21/nginx:latest
    ports:
      - "80:80"
    depends_on:
      - node
    restart: always
    networks:
      - backend

networks:
  backend:
    external: true

